.body {
    max-width: 970px;
    margin: 0 auto;
}
.header {
    max-width: 970px;
    max-height: 760px;
    margin: 0 auto;
    
@font-face {
    font-family: toms;
    src: url(assets/fonts/toms.ttf);
}

.image-wrapper {
    position: relative;
    justify-content: flex-start;
}

}

#nav-horizontal ul {
    float: right;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    justify-content: flex-end;
    align-items: flex-start;
}

#nav-horizontal ul li {
    display: inline;
}

.navbar navbar-default ul li a {
    padding: .2em 1em;
    color: #fff;
    background-color: #036;
}

#nav-horizontal ul li a:hover {
    color: #fff;
    background-color: #369;
}

.home-background {
    background-size: cover;
    max-width: 970px;
    height: 100vh;
    margin: 0 auto;
    background: url(assets/images/background.jpg) no-repeat center bottom;
 
}

.home-background img {
    width: 100%;
    height: 100%;
}

.hello-phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45vh;
    left: 0;
    width: 100%;
    font-family: toms;
    src: url(assets/fonts/toms.ttf);
    font-size: normal;
    color: black;
    
}

/*.my-projects {*/
/*    display: flex;*/
/*    margin-top: 40px;*/
/*    width: auto;*/
/*    height: auto;*/
/*    border: 5px;*/
/*    border-color: black;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
}

.my-info {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 30px;
}

.info-block1 {
    display: flex;
    width: 70%;
    float: right;
    align-items: center;
    margin: 1%;
}

.infoimage1 {
    display: flex;
    align-items: center;
    width: 30%;
    float: left;
    margin: 1%;
}

.info-block2 {
    display: flex;
    align-items: center;
    width: 70%;
    float: left;
    margin:1%;
    
}

.infoimage2 {
    display: flex;
    align-items: center;
    width: 30%;
    float: right;
    margin: 1%;
}

.info-block3 {
    display: flex;
    align-items: center;
    width: 70%;
    float: right;
    margin:1%;
}

.infoimage3 {
    display: flex;
    align-items: center;
    width: 30%;
    float: left;
    margin: 1%;
}

#map {  
        display: flex;
        width: 100%;
        height: 300px;
        margin: 0 auto;
        
      }
      
/*#comments {*/
/*    position: float right;*/
/*}*/

.footer-section1 {
    display: flex;
    position: center;
}

.footer-section2 {
    display: flex;
    position: center;
}

